@import url('../../../../src/assets/css/light/main.css');
@import url('../../../../src/plugins/css/light/perfect-scrollbar/perfect-scrollbar.css');
@import url('../../../../src/plugins/src/waves/waves.min.css');
@import url('./structure.css');
/*
    Importing highlight.js CSS code 

    Just for demo purpose only
	
	@Note:-  monokai-sublime.css stylesheet is for highliting the code;

*/
th{
    text-transform: uppercase !important; }
    #specialsearch{
        text-transform: uppercase !important; }
thead{
background-color: #647ef0 !important;
}
button{
    text-transform: uppercase !important;
    }
#specialsearch {
    font-weight: 800 !important;
    color: #515365 !important;
}
.ozet{
    font-size:medium;
}

@import '../../../../src/plugins/src/highlight/styles/monokai-sublime.css';
